-e git://github.com/basho/riak-python-client.git@master#egg=riak
-e bzr+http://bazaar.launchpad.net/~linux2go-jenkins/riakalchemy/trunk#egg=riakalchemy
nose
routes
webob
python-clickatell
mock
eventlet
httplib2
yanc
