-e git://github.com/basho/riak-python-client.git@master#egg=riak
-e git://github.com/Linux2Go/riakalchemy.git@master#egg=riakalchemy
nose
routes
webob
python-clickatell
mock
eventlet
httplib2
yanc
nosexcover
pastedeploy
paste
PasteScript
-e hg+https://code.google.com/p/soren-bulksms/#egg=BulkSMS
